<div class="wrapper">
  <div class="container">
    <h3><%= @question %></h3>
    <p><em>- You</em></p>
    <p></p>
    <h3><%= @answer %></h3>
    <p><em>- Your coach</em></p>
    <p></p>
    <%= link_to "Ask a new question", ask_path %>
    <p></p>
  </div>
</div>


